In [56]:
import random
a=random.sample(range(9000), 3)

In [57]:
a

[8251, 3311, 7989]

In [58]:
import pandas as pd

In [62]:
df=pd.DataFrame([[1,2],[3,4],[5,6]],columns=['f1','f2'])

In [63]:
df

   f1  f2
0   1   2
1   3   4
2   5   6

In [71]:
df.loc[:2]

   f1  f2
0   1   2
1   3   4
2   5   6

In [1]:
def fun():
    for j in range(10):
        i=j

In [2]:
fun()

In [3]:
i

NameError: name 'i' is not defined

In [4]:
a=b'7687'

In [6]:
type(a.decode())

str

In [8]:
from sklearn.model_selection import train_test_split

In [21]:
data=[[1,2],[3,4],[5,6], [7,8],[9,10],[1,2],[3,4],[5,6], [7,8],[9,10]]
labels=[0,1,2,3,4,5,6,7,8,9]

In [36]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.2, shuffle=False)

In [37]:
X_train

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [1, 2], [3, 4], [5, 6]]

In [38]:
import scipy

In [39]:
import numpy as np

In [40]:
a=np.array([[0,0,1],[0,1,0],[0,0,0]])

In [41]:
b=scipy.sparse.csr_matrix(a)

In [43]:
b.todense()

matrix([[0, 0, 1],
        [0, 1, 0],
        [0, 0, 0]], dtype=int64)

In [44]:
c=b.sorted_indices()

In [46]:
c.todense()

matrix([[0, 0, 1],
        [0, 1, 0],
        [0, 0, 0]], dtype=int64)

In [ ]:
np.ndarray()